<body>
<div class="container">
  <div class="logo">cINSTAGRAM</div>
  <div id="login" class="login">
    <label>
      <input #usernameElement (focus)="hideInformations()" id="userName" placeholder=" " value="" type="text">
      <span>Your user name</span>
    </label>
    <div *ngIf="this.userNameInformationShown" id="information">Username already taken!</div>
  </div>

  <div class="password">
    <label>
      <input #password1Element id="passwInput1" placeholder=" " value="" type="password">
      <span>Password</span>
    </label>
    <button #showBtn *ngIf="!registration" id="showPsw" (click)="showPsw(password1Element, showBtn)">Show</button>
  </div>
  <div [ngStyle]="{'display': !registration ? 'none' : 'block'}"  class="repeatPasswd">
    <label>
      <input  #password2Element id="passwInput2" placeholder=" " value="" type="password">
      <span>Repeat password</span>
    </label>
  </div>
  <div class="loginBtn" (click)="submit(usernameElement, password1Element, password2Element)">
    <button *ngIf="!registration">Login</button>
    <button *ngIf="registration">Register</button>

  </div>

</div>
<div class="register">
  <label *ngIf="registration">If you have your account</label>
  <label *ngIf="!registration">Don't have account yet ?</label>
  <button (click)="moveLR()" class="moveTo" *ngIf="!registration">Register!</button>
  <button (click)="moveLR()" class="moveTo" *ngIf="registration">Login!</button>

</div>

</body>
